.termin-preview{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 370px;
    background-color: white;
    padding: 2rem;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.356);
    cursor: pointer;
    transition: all .2s ease;
    color: black;

    &:hover{
        transform: translateY(-8px);
        box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.61);
    }

    .weekday{
        text-transform: uppercase;
        font-family: "PT Sans", sans-serif;
        font-size: 15px;
        line-height: 22.5px;
        font-weight: 400;
    }

    time{
        font-family: "PT Sans", sans-serif;
        font-weight: 700;
        font-size: 25px;
        line-height: 37.5px;

        .time{
            line-height: 22.5px;
            font-size: 15px;
            margin-left: .6rem;
        }
    }

    hr{
        margin-top: .5rem;
        margin-bottom: 8px;
        width: 100%;
        height: 1px;
        background-color: var(--dark-accent);
    }

    h2{
        color: var(--primary);
        font-size: 31px;
        font-family: GrueneTypeNeue;
        padding: 8px 0;
    }

    .content{
        font-family: "PT Sans";
        font-size: 19px;
        line-height: 28.5px;
    } 

}