.kontakt{
    width: 100vw;

    padding: 10rem 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper{
        display: flex;
        flex-direction: column;
    }

    h1{
        color: var(--primary);
        font-size: 3.5rem;
        margin-bottom: 1.5rem;
    }

    .q{
        font-size: 1.4rem;
        margin-bottom: 3rem;
    }

    .c{
        display: inline-flex;
        align-items: center;
        color: var(--primary);

        font-size: 1.8rem;
        margin-bottom: 2rem;

        svg{
            flex-shrink: 0;
            margin-right: 1rem;
            height: 2rem;
            width: 2rem;
            color: var(--primary-dark);
        }

        a{
            position: relative;
            color: var(--primary);
            user-select: text;

            &::after{
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);

                height: 2px;
                width: 0%;
                background-color: var(--primary);

                transition: width .3s ease;
            }

            &:hover{
                &::after{
                    content: "";
                    width: 100%;
                }
            }
        }
        
    }

    .a{
        margin-top: 2rem;
        font-size: 1.4rem;
    }
}


@media screen and (max-width: 430px) {

    .kontakt{
        padding: 7rem 1rem;

        h1{
            font-size: 3rem;
        }

        .c{
            font-size: 1.5rem;
        }

        .a, .q{
            font-size: 1.2rem;
        }
    }

}