.editor {
  border-radius: 6px;
  width: 687px;
  font-family: sans-serif;


  .toolbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 6px;
    padding: 1rem;

    background-color: white;
    border-radius: 1rem 1rem 0 0;

      select, button {
      width: fit-content;
      padding: 4px 8px;
      border: 1px solid #aaa;
      border-radius: 4px;
      background: white;
      cursor: pointer;
    }

    select{
      padding-right: 1rem;
    }

    button:hover, select:hover {
      background: #eee;
    }
  }

  .preview {
    min-height: 520px;
    padding: 16px;
    width: 100%;
    margin: 0 auto; 
    border: 2px solid var(--primary);
    font-size: 19px;
    border-radius: 0 0 1rem 1rem;


    &:focus{
      outline: none;
      border: 2px solid var(--special);
    }

    h1,h2,h3,h4,h5,h6{
    font-family: GrueneTypeNeue !important;
    span{
      font-family: GrueneTypeNeue !important;
    }
    }

    h1{
    font-size: 45px !important;
    span{
      font-size: 45px !important;
    }
    }
    h2{
    font-size: 40px !important;
    span{
      font-size: 40px !important;
    }
    }
    h3{
    font-size: 35px !important;
    span{
      font-size: 35px !important;
    }
    }
    h4{
    font-size: 30px !important;
    span{
      font-size: 30px !important;
    }
    }
    h5{
    font-size: 25px !important;
    span{
      font-size: 25px !important;
    }
    }
    h6{
    font-size: 20px !important;
    span{
      font-size: 20px !important;
    }
    }
    li{
    margin-left: 24px;
    }
    a{
    color: var(--special);
    }
  }

  .media{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;

    button{
      display: inline-flex;
      align-items: center;
      gap: .5rem;
      width: fit-content;
      padding: 4px 8px;
      border: 1px solid #aaa;
      border-radius: 4px;
      background: white;
      cursor: pointer;
    }

    button:hover{
      background: #eee;
    }
  }


  .img-wrapper {
    display: inline-block;
    padding: 2px;
    border: 2px dashed gray;
    position: relative;
    width: fit-content;
  }

  .img-wrapper.active {
    border-color: var(--special);
  }


  .color-palette {
    display: flex;
    gap: 4px;
    margin-right: 8px;
  }

  .color-box {
    width: 18px;
    height: 18px;
    border: 1px solid #444;
    border-radius: 3px;
    cursor: pointer;
    padding: 0;
  }

  .color-box:hover {
    outline: 2px solid #888;
  }

  .color-box.active {
    outline: 2px solid blue;
  }

  .color-btn {
    font-weight: bold;
    font-size: 16px;
    line-height: 1;
    display: flex;
    align-items: flex-end;
    padding: 2px 6px;
    border: 1px solid #aaa;
    border-radius: 4px;
    background: white;
    cursor: pointer;
  }

  .color-btn:hover {
    background: #eee;
  }



  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;

    h3{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    }
  }

  .modal-content {
    background: #fff;
    padding: 30px 40px;
    border-radius: 8px;
    max-height: 80vh;
    overflow-y: auto;
    width: 600px;
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 12px;
    margin: 15px 0;
  }

  .image-item {
    border: 1px solid #ccc;
    padding: 6px;
    border-radius: 6px;
    text-align: center;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .image-item img {
    max-width: 100%;
    max-height: 80px;
    display: block;
    margin: 0 auto 8px;
  }

  .image-actions {
    display: flex;
    justify-content: space-around;
    gap: 6px;

    button{
    background-color: transparent;
    border: none;
    }
  }

  .upload-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #aaa;
    border-radius: 6px;
    padding: 20px;
  }

  .upload-btn {
    cursor: pointer;
    font-weight: bold;
  }

  .upload-btn:hover {
    text-decoration: underline;
  }

  .close-btn{
    cursor: pointer;
  }

}