footer{
    position: relative;
    width: 100vw;

    padding: 3rem 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;

    background-color: var(--primary-dark);

    .links{

        display: flex;
        justify-content: space-between;

        .social{

            display: flex;
            align-items: flex-end;

            .icon, div{
                display: block;
                width: 40px;
                height: 40px;
                border-radius: 1rem;
                background-color: var(--light);
                transition: background-color .3s ease;

                svg{
                    width: 40px;
                    height: 40px;
                    fill: var(--special);
                    transition: fill .3s ease;
                }

                &:hover{
                    background-color: var(--special);

                    svg{
                        fill: var(--light);
                    }
                }
            }

            .mail{
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                overflow: hidden;
                margin-left: 1rem;
                gap: .5rem;
                user-select: text;

                transition: width .3s ease;

                svg{
                    flex-shrink: 0;
                    width: 30px;
                    height: 30px;
                    margin-left: 5px;
                }

                a{
                    flex-shrink: 0;
                    color: var(--light);
                    white-space: nowrap;
                    padding-right: 1rem;
                }

                &:hover{
                    width: 253px;
                }
            }
        }

        .legal{
            display: flex;
            flex-direction: column;
            gap: 1.2rem;

            a{
                color: var(--light);
                width: fit-content;
            }
        }

    }

    span{
        height: 1px;
        width: 100%;
        background-color: var(--light);
    }

    .credit{

        width: 100%;
        display: flex;
        justify-content: space-between;

        p{
            color: var(--light);

            span{
                display: inline-block;
                width: 153px;
                height: 19px;
                top: 4px;
                margin-left: 5px;
                background-color: transparent;
                position: relative;

                a{
                    position: absolute;
                    color: var(--special);
                    white-space: nowrap;

                    &.hidden{
                        visibility: hidden;
                        transform: translateY(-24px);
                        scale: .8;
                        opacity: 0;
                        transition: transform .2s ease, scale .2s ease, opacity .2s ease;
                    }

                    &.shown{
                        transform: translateY(0);
                        scale: 1;
                        opacity: 1;
                        transition: all .2s ease;
                    }
                }

                &:hover{

                    a.hidden{
                        visibility: visible;
                        transform: translateY(0);
                        scale: 1;
                        opacity: 1;
                    }

                    a.shown{
                        transform: translateY(24px);
                        scale: 0.7;
                        opacity: 0;
                    }
                }
            }
            
        }

        img{
            height: 112px;
            width: 186px;
        }
    }
}

@media screen and (max-width: 760px){
    
    footer{

        padding: 3rem 5%;

        .links{
            flex-direction: column;
            gap: 2rem;
        }

        .credit{
            flex-direction: column;

            p{
                width: 80%;
            }

            img{
                align-self: flex-end;
            }
        }
    }
}