.admin-beitrag-preview{
    position: relative;

    display: flex;
    flex-direction: column;
    
    min-height: 100%;
    width: 390px;
    background-color: white;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.356);

    .img-link{
        display: block;
        width: 100%;

        img{
            width: 100%;
        }
    }

    .text{
        padding: 2rem;
    }

    h2{
        color: var(--primary);
        font-size: 31px;
        font-family: GrueneTypeNeue;
        padding: 8px 0;
    }

    .date{
        font-family: "PT Sans", sans-serif;
        font-size: 19px;
        line-height: 22.5px;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    .content{
        font-family: "PT Sans";
        font-size: 19px;
        line-height: 28.5px;
    }      
    
    .link{
        font-family: "PT Sans";
        font-weight: 700;
        font-style: italic;
        font-size: 19px;
        color: #212529;

        margin: 0 2rem 2rem auto;

        &:hover{
            color: var(--primary-light);
        }
        
    }
}