:root{
    --primary: #005437;
    --primary-light: #066b2d;
    --primary-dark: #002216;

    --background: #d3d4d1;
    --background-accent: #e1e2df;

    --light: #ffffff;
    --light-accent: #B2B0B5;
    --dark: #3b3b3b;
    --dark-accent: #2c2c2c;

    --special: #0BA1DD;
    --sunflower: #ebdd63;
}
::selection{
    background-color: var(--primary);
    color: var(--light);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: rgb(240, 240, 240);
    font-family: 'Roboto', serif;
    overflow-x: hidden;
    scroll-snap-type: y proximity;
    overscroll-behavior: none;

    &::-webkit-scrollbar{
        width: 8px;
        border-radius: 1rem;
    }
    &::-webkit-scrollbar-thumb{
        width: 8px;
        background-color: var(--primary);
        border-radius: 1rem;
    }
    &::-webkit-scrollbar-track{
        width: 8px;
        background-color: var(--background-dark);
        border-radius: 1rem;
    }
}

.scrollbar{
    &::-webkit-scrollbar{
        width: 8px;
        border-radius: 1rem;
    }
    &::-webkit-scrollbar-thumb{
        width: 8px;
        background-color: var(--primary);
        border-radius: 1rem;
    }
    &::-webkit-scrollbar-track{
        width: 8px;
        background-color: var(--background-dark);
        border-radius: 1rem;
    }
}

.scrollbar-light{
    &::-webkit-scrollbar{
        width: 6px;
        border-radius: 1rem;
    }
    &::-webkit-scrollbar-thumb{
        width: 6px;
        background-color: var(--light);
        border-radius: 1rem;
    }
    &::-webkit-scrollbar-track{
        width: 6px;
        background-color: var(--dark);
        border-radius: 1rem;
    }
}

.scrollbar-x{
    &::-webkit-scrollbar{
        height: 4px;
        border-radius: 1rem;
    }
    &::-webkit-scrollbar-thumb{
        height: 4px;
        background-color: var(--primary);
        border-radius: 1rem;
    }
    &::-webkit-scrollbar-track{
        height: 4px;
        background-color: var(--background-dark);
        border-radius: 1rem;
    }
}

main{
    width: 100vw;
}

img{
    user-select: none;
    -webkit-user-drag: none;
}

h1,h2,h3,h4,h5,h6{
    user-select: none;
}

a{
    user-select: none;
    cursor: pointer;                
    text-decoration: none;
}


button{
    user-select: none;
    cursor: pointer;
    border: none;
}

.btn{
    color: var(--primary);
    font-size: 1.1rem;
    background: none;

    padding: 12px 28px;
    padding-left: 0;

    span{
        margin-left: 8px;
        margin-right: 8px;

        transition: margin-left .2s, margin-right .2s;
    }

    &:disabled{
        cursor: no-drop;
    }

    &:hover:not(:disabled) span{
        margin-left: 12px;
        margin-right: 4px;
    }                

    &.filled{
        color: var(--dark);
        background-color: var(--light);
        border-radius: 2rem;
        width: fit-content;
        padding-left: 36px;
    
        transition: background-color .2s, color .2s;
    
        &:disabled{
            background-color: var(--light-accent);
        }

        &:active{
            scale: .98;
            background-color: var(--dark-accent) !important;
        }
    
        &:hover:not(:disabled){
            background-color: var(--dark);
            color: var(--light);
        }
    }
}

.bullet-point{
    display: inline-flex;
    gap: 12px;
    line-height: 22px;

    &::before{
        content: "";
        margin-top: 8px;
        width: 5px;
        height: 5px;
        background-color: var(--light);
        border-radius: 50%;
        flex-shrink: 0;
    }
}

.gruene-font{
    font-family: GrueneTypeNeue;
}